NODE_ENV=development

#== APP
PORT=9001              # used by Docker container
DEV_PORT=9002          # used by yarn watch:dev locally
TRANSPORT_PORT=9091
FALLBACK_LANGUAGE=en_US
ENABLE_ORM_LOGS=true
ENABLE_DOCUMENTATION=true
API_VERSION=v1.0.0

# == JWT Auth (Ed25519)
JWT_PRIVATE_KEY="your-super-secret-jwt-key-change-this-in-production-min-32-chars"
JWT_PUBLIC_KEY="your-super-secret-jwt-key-change-this-in-production-min-32-chars"

JWT_EXPIRATION_TIME=21600
JWT_REFRESH_EXPIRATION_TIME=7776000
FORGOT_PASSWORD_OTP_EXPIRY_MINUTES=15

#== DB
DATABASE_URL='postgresql://neondb_owner:npg_oE5YBvTd0mLC@ep-rough-shadow-aolgfyhw-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
# DB_TYPE=postgres
# DB_HOST=127.0.0.1
# DB_PORT=5434
# DB_USERNAME=postgres
# DB_PASSWORD=attendance@123
# DB_DATABASE=attendance_service
# PGADMIN_DEFAULT_EMAIL=admin@attendance.com
# PGADMIN_DEFAULT_PASSWORD=attendance@123

#==SMTP
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=12210041.gcit@rub.edu.bt
EMAIL_PASSWORD=adpycmqfwlibnhse
EMAIL_FROM_NAME='Attendance system'
EMAIL_FROM=12210041.gcit@rub.edu.bt

#== AWS
ACCESS_KEY_ID=AeYesHZhnbOpMWb9AZrI
SECRET_ACCESS_KEY=7DcZC02Y74kaKwYkjeD52yXI4nmUOMVVkZKSOwga
AWS_S3_API_VERSION=s3v4
AWS_S3_BUCKET_ENDPOINT=http://127.0.0.1:9000/
AWS_S3_BUCKET_NAME=gcro
AWS_S3_BUCKET_REGION=ap-southeast-1
AWS_USE_PATH_STYLE_ENDPOINT=true


#== Redis
REDIS_CACHE_ENABLED=true
REDIS_HOST=localhost
REDIS_PORT=6381

